
*.class

lib/testng-6.8.8.jar

*.jar

*.iws

*.ipr

*.iml

*.gz

*.log

*.aux

doc/ChocoGraphDoc.toc

dependency-reduced-pom.xml

target/maven-archiver/pom.properties

*.csv

src/main/java/META-INF/MANIFEST.MF

out/

target/